body {
    font-family: "Futura";
}

.continue a img {
    width: 20%;
}

.background {
    text-align: center;
}

.background .bg-img {
    width: 70%;
    position: absolute;
    top: 0;
    left: 15%;
    z-index: -1;
}

.content {
    margin-top: 20%;
    text-align: center;
}

#score {
    /*display: none;*/
    margin-bottom: 5%;
}

#continue {
    display: none;
}
.content .title {
    padding: 0 30% 0 30%;
    font-size: 20pt;
    text-align: left;
}

.content .title span {
    color: #47adfb;
}

.content .option {
    text-align: center;
}

.feedback {
    /*display: none;*/
    margin: 0 15% 4% 15%;
}

.continue{
    margin-top: 45%;
    text-align: center;
}

.video {
    position: absolute;
    left: 20%;
    top: 15%;
    text-align: center;
    width: 60%;
    height: 60%;
}

iframe {
    width: 100%;
    height: 100%;
}

.verse-player-embed {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    max-width: 100%;
}

.verse-player-embed iframe, .verse-player-embed object, .verse-player-embed embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

